@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap');

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background-image: linear-gradient(#303f55, #1b2430);
  min-height: 100vh;
  color: #b4b9bf;
}

